<div class="mt- p- bg-dark text-white rounded fixed-bottom footer">
    <div style="color: #dbdbdb; font-size:12px; padding-bottom: 15px;padding-top: 15px;">
        <h3>
            &nbsp;
            &nbsp;Liên hệ phòng mạch tư HEALTH CARE </h3>
        <h6>
            &nbsp;
            &nbsp; SĐT: 0934654311 | Tổng đài CSKH & đặt lịch khám bệnh : 1900.636.170</h6>
        <h6>
            &nbsp;
            &nbsp; Địa chỉ: 234 đường 3 tháng 2, Phường 16, Quận 11, TP.HCM</h6>
    </div>
</div>

